button.buttonSuccess {
    background-color: var(--theme-success-color);
    color: var(--theme-success-text-contrast-color);
}

button.buttonSuccess:hover {
    background-color: var(--theme-success-dark);
    color: var(--theme-success-text-contrast-color);
}

button.buttonDanger {
    background-color: var(--theme-error-color);
    color: var(--theme-error-text-contrast-color);
}

button.buttonDanger:hover {
    background-color: var(--theme-error-dark);
    color: var(--theme-error-text-contrast-color);
}

button.buttonPremium {
    background: linear-gradient(90deg, #3BF7F4 0%, #FFBC57 100%);
    color: var(--theme-secondary-text-contrast-color);
}

button.buttonPremium:hover {
    background: linear-gradient(90deg, #FFBC57 0%, #3BF7F4 100%);
}